@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/* Appliquer la couleur et la police d'écriture de la page */
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fef0d3;
    color: #81552e;
}

/* Disposition et style de l'en-tête de la page */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
    height: 60px;
    margin-bottom: 25px;
}
header .logo svg{
    display: none;
}
header .logo a{
    font-size: 1.5em;
    font-weight: 900;
    color: #81552e;

}
.nav-bar nav ul li{
    display: inline-block;
    margin-right: 30px;
}
.nav-bar nav ul li a{
    color: #61432b;
    transition: 0.3s;
}
.nav-bar nav ul li a:hover{
    color: #81552e;
}
.nav-bar nav ul form button{
    font-family: poppins;
    color: white;
    background-color: #81552e;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.3s;
}
.nav-bar nav ul form button:hover{
    background-color: #b1743f;
}
main .home{
    text-align: center;
    margin-bottom:60px ;
}
.home h4{
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 3.5em;
}
.home h1{
    font-size: 4em;
    line-height: 100%;
}

/* Disposition des premières images */
.products{
    display: flex;
    justify-content: center;
    gap: 25px;
}
/* stylisation des différentes images */
.product img{
    border-radius: 25px;
    transition: 0.4s;
    object-fit: cover;
}
.product img:hover{
    width: 250px;
    
}

@media screen and (max-width:600px){
     body{
         overflow: hidden;
     }    
    /* Affichage du menu burger*/
    header{
        height: 60px;
        padding: 0 5%;
    }
    header .logo{
        display: flex;
        align-items: center;
    }
    header .logo svg{
        display: initial;
        position: relative;
        left: 200%;
    }
    /* effacer le menu de navigation */
    .nav-bar{
        display: none;
    }
    
    /* diminuer la taille de police du nom du magasin et du titre principale */
    .home h4{
        font-size: 2.5em;
    }
    .home h1{
        font-size: 2.1em;
    }

    /* adaptation des première image à l'écran */
    .products{
        flex-wrap: wrap;
    }
}




